body, p, h1, h2, h3, h4, h5, input, label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.materialize .row {
  display: unset;
  margin-left: unset;
  margin-right: unset;
  width: 100%;
}

.materialize .col {
  width: unset;
}

a:hover {
  text-decoration: none;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: white;
}

@media only screen and (min-width: 960px) .flow-text {
  font-size: 1.5em;
}

.left-brand {
  left: 15px;
}

.user-actions {
  float: right;
  display: grid;
  grid-template-columns: auto auto;
  color: black;
  align-items: center;
  margin-right: 15px;
  grid-gap: 25px
}

@media only screen and (max-width: 650px) {
  .nav-wrapper {
    height: 120px !important;
  }

  .user-actions {
    position: relative;
    top: 60px;
  }
}

.user-actions p {
  margin-bottom: 0px;
  font-size: 20px;
}

.user-actions .btn {
  height: 40px;
}

.todo-timer input {
  box-shadow: none !important;
}

input + div hr {
  bottom: 2px !important;
}

nav .brand-logo {
  display: grid !important;
  grid-template-columns: auto 1fr;
  white-space: nowrap;
}
